.invisible {
  visibility: hidden;
}

.fadeOut{
  opacity:0;
  transition: width 0.2s 0.2s, height 0.2s 0.2s, opacity 0.2s;

}
.fadeIn{
  opacity:1;
  transition: width 0.2s, height 0.2s, opacity 0.2s 0.2s;

}